html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  padding: 1rem;
}

h1 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 3rem;
  margin: -5px;
}

.reliable {
  font-weight: 200;
  font-size: 2.9rem;
  margin-top: 43px;
}

.intro {
  display: inline-block;
  width: 30%;
  text-align: center;
  /* border: 1px red solid; */
  font-size: 1.5rem;
  padding-top: 5px;
  margin-left: 35%;
}

h3 {
  font-size: 1.9rem;
  margin-top: 2.3rem;
  margin-left: 2.5rem;
  /* border: 1px solid red; */
}

.paragraph {
  font-size: 1.2rem;
  /* border: 1px solid red; */
  margin-left: 2.5rem;
  margin-top: -1.2rem;
  line-height: 1.7rem;
  margin-right: 2rem;
}

.paragraph.one {
  margin-right: 4rem;
}

.paragraph.two {
  margin-right: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.all {
  width: 28rem;
  height: 19.6rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 6px 15px #e0e9f2;
}

.all.one {
  border-top: 3px #42d4d3 solid;
  margin-top: -30.9rem;
  margin-left: 20.5%;
}
.all.two {
  align-self: center;
  border-top: 3px #ec5355 solid;
  margin-top: 3.9rem;
  margin-bottom: 2.3rem;
}

.all.three {
  align-self: center;
  border-top: 3px #fcae4a solid;
}

.all.four {
  border-top: 3px #529ef2 solid;
  margin-right: 20.5%;
  margin-top: -30.9rem;
}

svg {
  margin-left: 19.8rem;
  margin-top: 1.6rem;
  /* border: 1px solid red; */
  transform: scale(0.8);
}

@media (max-width: 800px) {
  .reliable {
    font-size: 1.9rem;
  }
  h1 {
    font-size: 2rem;
  }
}
